// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$ebike-grey: rgb(51,51,51); 
$ebike-yellow: rgb(252,241,193);
$ebike-highlight: rgb(247,199,0);
$ebike-olive: #DFE2D7;
$clr-white: #FFF;

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

$spacer: 1rem;
$border-radius: 35px;


// scss-docs-start theme-color-variables
$primary:       $ebike-grey;
$secondary:     $ebike-yellow;
$highlight:     $ebike-highlight;
$olive:         $ebike-olive;
// scss-docs-end theme-color-variables

.bg-olive {
	background: #DFE2D7;	
}

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "olive":      $olive
) !default;
// scss-docs-end theme-colors-map

// Define font variables
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;


#wrapper-footer {
  background-color: $primary;
  color: white;
}

#wrapper-footer a {
  color: white;
}
  
#wrapper-footer a:hover {
  color: $secondary;
}

// Single post styling

.wrapper.ebike-single {
  padding-top: 200px;
  background-color:rgb(223, 226, 215);
}

//used on home page
.testimonial li {
  color: #FFF;
	background-color: #333333 !important;
	padding: 20px !important;


	.wp-block-latest-posts__post-title {
		font-size: 1.2rem;
		font-weight: 500;
		text-decoration: none;
    color: #FFF !important;
	}
	
	.wp-block-latest-posts__post-full-content {
		font-style: italic;
	}	
}


/* For Deed of Waiver form */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* First column: 1/4, second: 3/4 of the width */
  gap: 0px; /* Gap between grid items */
}

/* Just for styling purposes */
.grid-item {
  background-color: #f0f0f0 !important;
  padding: 8px !important;
  border: 1px solid #000 !important;
font-weight: 700 !important;
}

.grid-item.full-width {
  grid-column: span 2; /* Span the item across two columns */
}