// fix for WP Admin bar overlaying page when looged in.
body.admin-bar .fixed-top {
  top: 28px; // set “px” value According to your project
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  background-size: 4px 50px;
}

.wrapper {
  padding: 0;
}


.wp-block-cover {
    align-items: flex-end;
}

.wp-block-cover .wp-block-cover__inner-container {
    width: 85%;
}



.pt-mega {
    padding-top: 50px;
}

.pb-mega {
  padding-bottom: 100px;
}

.btn {
  border-radius: 35px;
}

.dot {
  height: 65px;
  width: 65px;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
}

//used on home page
.testimonial li {
  color: #FFF;
	background-color: #333333;
	padding: 20px;


	.wp-block-latest-posts__post-title {
		font-size: 1.2rem;
		font-weight: 500;
		text-decoration: none;
    color: #FFF;
	}
	
	.wp-block-latest-posts__post-full-content {
		font-style: italic;
	}	
}

.star-gold {
	font-style: normal;
	font-size: 2rem;
	color: gold;
}


#flex-container {
  display: flex;
  position:relative;
  top:-120px;
}

#flex-container > span {
  padding: 0.5rem;
}

// scrollmagic gentle scroll effect
.wp-block-group {
  // before css
  opacity: 0;
  transform: translateY(20px);
  transition: all ease 1s;

  &.visible {
    // after css

    transform: translateY(0px);
    opacity: 1;
  }
}