
/* 
  Replace <uniquifier> with a unique and descriptive class name
  Replace <weight> with a value from 100 to 900
*/

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100 400 600 900;
	font-display: swap;
	src:url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  }
  
  .montserrat-semibold {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
  }
  