.site-header {
    position     : fixed;
    top          : 0px;
    width        : 100%;
    z-index      : 99;
    background   : transparent;
    transition   : all 0.5s ease-in-out;

    .section-faqs &,
    .single-property &,
    .section-contact-us &,
    .section-policies &,
    .search & {
        background: green;
        position: fixed;
        padding-block: 20px;
    }

    .section-faqs &,
    .single-property &,
    .section-contact-us & { 
        .site-header__logo {
            img{
                max-width: 196px;
                 @include media-breakpoint-down(lg) {
                    max-width: 150px;
                }
                @include media-breakpoint-down(sm) {
                    max-width: 130px;
                }
            }
        }
    }

    &.scrolling_down {
        top       : -150px;
        transition: all 0.3s linear;
    }

    &.scrolling_up {
        top       : 0px;
        transition: all 0.3s linear;
    }

    &.scrolling_up,
    &.scrolling_down {
        position        : fixed;
        // background      : $grey;
        left            : 0;
        width           : 100%;
        padding-block   : 20px;
        transform       : unset;
        transition      : all 0.5s ease-in-out;
        // animation    : 1s alternate slideDown;

        .site-header__logo {
            img {
                max-width: 196px;

                @include media-breakpoint-down(lg) {
                    max-width: 150px;
                }
                @include media-breakpoint-down(sm) {
                    max-width: 130px;
                }
            }
            
        }
    }
    &.transparent {
        background: transparent;
    }

    &--wrapper {
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
            justify-content: space-between;
        }
    }

    &__logo {
        a {
            display: block;
        }

        img {
            max-width: 196px;

            @include media-breakpoint-down(lg) {
                max-width: 150px;
            }
            @include media-breakpoint-down(sm) {
                max-width: 130px;
            }
        }
    }

    &__nav {
        text-align: right;

        ul {
            list-style-type: none;
            display        : flex;
            align-items    : center;
            justify-content: flex-end;
            padding-left: 0;

            @include media-breakpoint-down(md) {
                width              : auto;
                display            : flex;
                justify-content    : flex-start !important;
                align-items        : flex-start !important;
                flex-wrap          : wrap;
                padding-inline     : 0;
                flex-direction     : column;
                margin             : 0 auto;
                padding-block-start: 50px;
                text-align         : left;

            }

            li {
                margin-right: rem(20);
                padding-left: 2rem;

                @include media-breakpoint-down(md) {
                    margin : 0 0 40px;
                    padding: 0;
                }

                a {
                    color      : $clr-white;
                    position   : relative;
                    font-family: montserrat;

                    @include media-breakpoint-down(md) {
                        font-size  : 35px;
                        line-height: 35px;
                        color      : $gray-500;
                        font-family: $font-family-base;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size  : 30px;
                        line-height: 30px;
                    }

                    &:hover {
                        text-decoration: none;

                        &:after {
                            width     : 100%;
                            transition: all 0.3s linear;
                            
                            @include media-breakpoint-down(md) {
                                background: $gray-500 ;
                            }
                        }
                    }

                    &:after {
                        position  : absolute;
                        content   : '';
                        left      : 0;
                        bottom    : -1px;
                        height    : 3px;
                        width     : 0%;
                        background: #F7C700;
                        transition: all 0.3s linear;
                        @include media-breakpoint-down(md) { 
                            background: $gray-200;
                        }

                    }

                    &.active,
                    &[aria-current="page"] {
                        color: $secondary;
                        @include media-breakpoint-down(md) {
                               color: $gray-200;
                        }

                        &:after {
                            width: 100%;
                        }
                    }
                }

                &.btn {
                    min-width: 170px;

                    @include media-breakpoint-down(md) {
                        min-width   : auto;
                        background  : $gray-500;
                        border-color: $gray-500;
                        margin      : 0;
                    }

                    a {
                        color: $gray-200;

                        &::after {
                            display: none;
                        }

                        @include media-breakpoint-down(md) {
                            color         : $clr-white;
                            font-size     : 23px;
                            line-height   : 23px;
                            letter-spacing: 0.5px;
                            font-family   : $font-family-base;
                        }
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @include media-breakpoint-down(md) {
            opacity        : 0;
            visibility     : hidden;
            width          : 100%;
            position       : fixed;
            right          : 0;
            height         : 100%;
            max-width      : 100%;
            top            : 0;
            bottom         : 0;
            background     : $ebike-highlight;
            display        : flex;
            align-items    : center !important;
            justify-content: center !important;
            transform      : translateY(-100%);
            transition     : all 0.5s ease-in-out;
        }

        &.active {
            opacity   : 1;
            z-index   : 1;
            visibility: visible;
            transform : translateY(0px);
            transition: all 0.5s ease-in-out;
        }
    }

    &__hamburger {
        border    : none;
        background: transparent;
        cursor    : pointer;
        display   : none;

        @include media-breakpoint-down(md) {
            display : block;
            position: relative;
            z-index : 2;
            margin-right: 15px;
        }


        &.active {
            position: fixed;
            right   : 10px;
            top     : 30px;

            span {
                // background: $grey;
                transition: all 0.3s linear;

                &:first-child {
                    transform: rotate(45deg) translate(10px, 10px);
                }

                &:nth-of-type(2) {
                    width: 0;
                }

                &:last-child {
                    transform: rotate(-45deg) translate(4px, -4px);
                }
            }
        }

        span {
            width        : 35px;
            height       : 5px;
            background   : $primary;
            display      : block;
            border-radius: 35px;
            transition   : all 0.3s linear;

            &:not(:first-child) {
                margin-top: 5px;
            }

        }
    }
}

