$typography-h1-font: (sm: rem(64),
	md: rem(64),
	lg: rem(64),
	xl: rem(64),
	xxl: rem(64),
	lineheight: lineheight(70, 64),
	font: 'Montserrat-SemiBold',
	fontweight: 600,
	letterspacing: normal,
	color: inherit,
	texttransform: none,
);
$typography-h2-font: (sm: rem(36),
	md: rem(36),
	lg: rem(48),
	xl: rem(48),
	xxl: rem(48),
	lineheight: lineheight(54, 48),
	font: 'Montserrat-SemiBold',
	fontweight: 600,
	letterspacing: normal,
	color: inherit,
	texttransform: none,
);
$typography-h3-font: (sm: rem(30),
	md: rem(30),
	lg: rem(36),
	xl: rem(36),
	xxl: rem(36),
	lineheight: lineheight(42, 36),
	font: 'Montserrat-SemiBold',
	fontweight: 600,
	letterspacing: normal,
	color: inherit,
	texttransform: none,
);
$typography-h4-font: (sm: rem(30),
	md: rem(30),
	lg: rem(30),
	xl: rem(30),
	xxl: rem(30),
	lineheight: lineheight(36, 30),
	font: 'Montserrat-SemiBold',
	fontweight: 600,
	letterspacing: normal,
	color: inherit,
	texttransform: none,
);
$typography-h5-font: (sm: rem(24),
	md: rem(24),
	lg: rem(24),
	xl: rem(24),
	xxl: rem(24),
	lineheight: lineheight(30, 24),
	font: 'Montserrat-SemiBold',
	fontweight: 600,
	letterspacing: normal,
	color: inherit,
	texttransform: none,
);
$typography-h6-font: (sm: rem(20),
	md: rem(20),
	lg: rem(20),
	xl: rem(20),
	xxl: rem(20),
	lineheight: lineheight(22, 20),
	font: 'Montserrat-SemiBold',
	fontweight: 600,
	letterspacing: normal,
	color: inherit,
	texttransform: none,
);
$typography-p-font: (sm: rem(16),
	md: rem(16),
	lg: rem(16),
	xl: rem(16),
	xxl: rem(16),
	lineheight: lineheight(22, 16),
	font: 'Montserrat-Regular',
	fontweight: 400,
	letterspacing: normal,
	color: inherit,
	texttransform: none,
);
$typography-medium-font: (sm: rem(18),
	md: rem(18),
	lg: rem(18),
	xl: rem(18),
	xxl: rem(18),
	lineheight: lineheight(24, 18),
	font-famiy: 'Montserrat-Medium',
	fontweight: 700,
	letterspacing: normal,
	color: inherit,
	texttransform: none,

);
$typography-small-font: (sm: rem(14),
	md: rem(14),
	lg: rem(14),
	xl: rem(14),
	xxl: rem(14),
	lineheight: lineheight(20, 14),
	font: 'Montserrat-Regular',
	fontweight: 400,
	letterspacing: normal,
	color: inherit,
	texttransform: none,
);
$typography-caption-font: (sm: rem(12),
	md: rem(12),
	lg: rem(12),
	xl: rem(12),
	xxl: rem(12),
	lineheight: lineheight(14, 12),
	font: 'Montserrat-Regular',
	fontweight: 400,
	letterspacing: normal,
	color: inherit,
	texttransform: uppercase,
);


.lead {}

	.highlighted {
		// background: $accent;
		// color     : color-yiq($accent);
		padding   : rem(2);
	}

	.accented {
		position: relative;
		color   : $primary;

		&:before {
			content     : '';
			width       : 0;
			height      : 0;
			border-style: solid;
			border-width: rem(20) rem(20) 0 0;
			border-color: $primary transparent transparent transparent;
			position    : absolute;
			left        : -(rem(10));
			top         : 0;
		}
	}

	img,
	.wp-gallery,
	.wp-caption {
		margin: 0px 0px;

		&.alignleft {
			margin-top  : 0px;
			margin-right: 30px;
		}

		&.alignright {
			margin-top : 0px;
			margin-left: 30px;
		}

		&.aligncenter {
			margin-left : auto;
			margin-right: auto;
		}
	}

	.wp-gallery,
	.wp-caption {
		img {
			margin: 0px;
		}
	}

	a {
		&.button {
			// @extend .btn;
			// @extend .btn-primary;
		}
	}

	.table-wrap {
		-webkit-overflow-scrolling: touch;
		overflow-x                : auto;
		overflow-y                : visible;
	}

/* 	.oembed {
		@extend .embed-responsive;
		@extend .embed-responsive-16by9;
	} */

	> :first-child {
		margin-top: 0px;
	}

	> :last-child {
		margin-bottom: 0px;
	}

	&--white {

		* {
			color: #fff;
		}
	}



p {
	span {
		&.bold-paragraph {
			font-family: 'Montserrat-Medium';
			font-weight: 500;
			font-size: 22px;
			line-height: 30px;
		}
	}
}